.list {
	border-top: 1px solid rgb(175, 175, 175);
	width: 100%;
	padding: 0;
	border-spacing: 0;

	th {
		text-align: start;
		color: rgb(175, 175, 175);
		padding: 10px 5px;
		border-bottom: 1px solid rgb(175, 175, 175);
		&:not(:last-child) {
			border-right: 1px solid rgb(175, 175, 175);
		}
	}

	td {
		text-align: start;
		padding: 0px 5px;
		border-bottom: 1px solid rgb(175, 175, 175);
		&:not(:last-child) {
			border-right: 1px solid rgb(175, 175, 175);
		}
	}
}
